{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello World</title>
    <link rel="stylesheet" href="{% static 'website/index.css' %}" />
{#    <link rel="icon" href="images/favicon.png" />#}
  </head>

  <body>
    <h1 class="cool_header">This is another branch</h1>
    <h2 class="cool_header">{{ cool_title }}</h2>
    <h2 class="cool_sub_header">Its the same codebase but lets different developers</h2>
    <h2 class="cool_sub_header">work on changes then merge them together</h2>
    <h2 class="cool_sub_header">so one bad change won't take down the site</h2>
    <h2 class="cool_sub_header">also we could all be working on different peaces at the same time</h2>
    <div class="grid_container">
        <div>
            Thing 1 (your profile)
        </div>
        <div>
            Thing 2 (your profile)
        </div>
    </div>
    <script>
        var toggle = true;
        function cool_javascript(){
            let el = document.getElementById('instructions')
            if( toggle ){
                el.style.backgroundColor = 'black'
                el.style.color = 'white'
                toggle = false;
            } else {
                el.style.backgroundColor = 'white'
                el.style.color = 'black'
                toggle = true;
            }
        }
    </script>
  </body>
</html>